* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 90%;
    margin: 30px auto;
    overflow: hidden;
}

.p1 {
    width: 30%;
    float: left;
    color: rgb(22, 22, 22);
    font-weight: 600;
}

.p2 {
    float: right;
    width: 40%;
}

.p2 h1 {
    float: right;
    color: rgb(22, 22, 22);
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 400;
}

.banner {
    width: 85%;
    margin: 50px auto;
}

.banner_1 {}

.banner_1 img {
    width: 100%;
}

.cor {
    width: 30%;
}

.cor img {
    margin: 15px 15px 15px 162%;
}

.project {
    width: 85%;
    margin: 69px auto;
    overflow: hidden;
}

.project_title {
    float: left;
    width: 40%;
    margin-right: 10%;
    height: 405px;
    position: relative;
}

.gg {
    width: 65%;
    position: absolute;
    top: 27%;
    left: 14%;
    font-size: 20px;
}

.project_title h1 {
    text-transform: capitalize;
    font-size: 30px;
}

.project_img {
    float: left;
    width: 50%;
}

.project_img img {
    width: 100%;
}

.content {
    width: 85%;
    margin: 112px auto;
    overflow: hidden;
}

.date {
    float: left;
    width: 40%;
    margin-right: 10%;
}

.date h1 {
    color: rgb(84, 84, 84);
    font-size: 30px;
}

.date p {
    margin: 30px 14px;
    font-size: 20px;
}

.challenge {
    float: left;
    width: 50%;
}

.challenge h1 {
    color: rgb(22, 22, 22);
    font-size: 30px;
}

.challenge p {
    color: rgb(84, 84, 84);
    margin: 30px 7px;
    width: 54%;
    font-size: 20px;
}

.img {
    overflow: hidden;
    width: 85%;
    margin: 30px auto;
}

.item1 {
    margin-right: 32px;
    float: left;
    width: 32%;
}

.item2 {
    float: left;
    width: 32%;
    margin-right: 32px;
}

.item3 {
    float: left;
    width: 32%;
}

.item1 img {
    width: 100%;
}

.item2 img {
    width: 100%;
}

.item3 img {
    width: 100%;
}

.pic {
    width: 85%;
    margin: -23px auto;
    overflow: hidden;
}

.pic1 {
    float: left;
    width: 49%;
    margin-right: 2%;
}

.pic1 img {
    width: 100%;
}

.pic2 {
    float: left;
    width: 49%;
}

.pic2 img {
    width: 100%;
}

.load {
    text-align: center;
    margin: 150px 0px;
}

.load button {
    border: 1px solid rgb(98, 98, 98);
    padding: 15px 24px;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
}

footer {
    overflow: hidden;
    width: 75%;
    margin: 25px auto;
}

.g {
    width: 31%;
    float: left;
    margin-left: 39px;
}

.g ul {
    list-style: none;
}

.g ul li {
    margin-bottom: 10px;
    font-size: 20px;
}

.g ul li a {
    color: rgb(153, 153, 153);
    text-decoration: none;
}

.t {
    width: 30%;
    float: left;
    margin: 0px 5%;
}

.t ul {
    list-style: none;
    font-size: 20px;
}

.t ul li {
    margin-bottom: 10px;
}

.t ul li a {
    color: rgb(153, 153, 153);
    text-decoration: none;
}

.h {
    width: 15%;
    float: left;
}

.h ul {
    list-style: none;
    font-size: 20px;
}

.h ul li {
    margin-bottom: 10px;
}

.h ul li a {
    color: rgb(153, 153, 153);
    text-decoration: none;
}